.navbar {
  background-color: azure;
  display: flex;
  justify-content: space-between;
}

.modal-content {
  background-color: white;
  color: rgb(0, 0, 0);
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.checkoutContainer {
  display: flex;
  justify-content: space-between;
}
