.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.productCard {
  margin-top: 24px;
  margin-bottom: 24px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productTitle {
  text-align: center;
}
