.productCard {
  margin-top: 24px;
  margin-bottom: 24px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productTitle {
  text-align: center;
}

.hr {
  color: #0099cc;
  background-color: #0099cc;
  height: 0.2;
  width: 50%;
  border-color: #0099cc;
}
