.footerContainer {
  background-color: #edeff2;
  padding-bottom: 32px;
  padding-top: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
